/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*盒模型*/
*, *::before, *::after  {
    box-sizing: border-box;
}
/*圖片設定*/
img{
    height: auto;
    max-width: 100%;
    vertical-align: middle/*基準線對齊*/;
}
/*文字設定*/
body{
    font-family: "roboto", "Noto+Sans+TC";
}

h1,h2,h3,p,a{
    line-height: 1.5;
}
a{
    text-decoration: none;
}
.h1{
    color: #650300;
    font-size: 64px;
    font-weight: bold;
}
.h2{
    color: #650300;
    font-size: 48px;
    font-weight: bold;
}
.h3{
    color: #650300;
    font-size: 24px;
    font-weight: bold;
}
.fs-1{
    font-size: 20px;
}
.fs-2{
    font-size: 16px;
}
.fs-3{
    font-size: 14px;
}
.fw-bold{
    font-weight: bold;
}
.fw-medium{
    font-weight: medium;
}
.fs-italic{
    font-style: italic;
}
.text-white{
    color: #FFFFFF;
}
.text-red{
    color: #650300;
}
.text-gray{
    color: #707070;
}

/*其他通用設定*/
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}
@media (max-width:767px){
    .container{
        max-width: 767px;
        margin: 0 auto;
        padding-left: 12px;
        padding-right: 12px;
    }
}
.d-flex{
    display: flex;
}
.bg-red{
    background-color: #AA0601;
}
.bg-pink{
    background-color: #FBF2F2;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-end{
    justify-content: end;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.text-align-end{
    text-align: end;
}
.text-align-center{
    text-align: center;
}
.w50{
    width: 50%;
}
.w33{
    width: 33.3%;
}
.w25{
    width: 25%;
}
.p12{
    padding: 0px 12px;
}
.gap24{
    gap: 24px;
}
.mb4{
    margin-bottom: 16px;
}


/*nav*/
.header-container{
    max-width: 1320px;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
}
.menu-logo{
    width: 80px;
}
.menu-list{
    gap: 64px;
    padding-top: 25px;
    padding-bottom: 25px;
}
/*.menu-list li{
    width: 25%;
}*/

@media (max-width:767px) {
    .header-container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .m-menu{
        flex-direction: column;
    }
    .menu-logo{
        margin-right: auto;
        margin-left: 15px;
        margin-top: 16px;
    }
    .menu-list{
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0;
        padding-top: 15px;
        padding-bottom: 0;
    }
    .menu-list li{
        width: 50%;
        /*display: block;*/
        text-align: center;
        border: 1px solid white;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    .m-menu-text{
        font-size: 16px;
    }

}

/*header*/
.header{
    background-image: url(/images/home-header.png);
    background-size: cover;
}
.header-content{
    height: 787px;
    padding-top: 296px;
}
.header-subtitle{
    font-size: 36px;
    color: #650300;
}
.header-btn{
    display: inline-block;
    background-color: #AA0601;
    padding: 6px 12px;
}
@media (max-width:767px) {
    .header{
        background-image: url(/images/home-header-sm.png);
        height: 396px;
    } 
    .header-content{
        padding-top: 144px;
    }
    .header-title{
        font-size: 24px;
    }
    .header-subtitle{
        font-size: 16px;
    }
}


/*feature*/
.feature-title{
    padding-top: 80px;
    padding-bottom: 24px;
}
.feature-list{
    padding-bottom: 80px;
}
.feature-icon-style{
    width: 100px;
    margin-bottom: 24px;
}
.feature-h3{
    margin-bottom: 24px;
}
@media (max-width:767px) {
    .feature-title{
        font-size: 24px;
        padding-top: 40px;
    }
    .feature-list{
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 40px;
    }
    .feature-list li{
        width: 100%;
    }
    .feature-icon-style{
        margin-bottom: 16px;
    }
    .feature-h3{
        margin-bottom: 8px;
    }
}

/*classic*/
.classic h2{
    margin-top: 80px;
}
.classic-box{
    gap: 24px;
    margin-top: 48px;
}
.classic-card{
    margin-bottom: 80px;
}
.classic-text{
    font-size: 48px;
    font-weight: 900;
    color: #AA0601;
}
.classic-img{
    max-width: 416px;
}

@media (max-width:767px) {
    .classic-box{
        flex-wrap: wrap;
    }
}

/*design*/
.design{
    background-image: url(/images/index-bg.png);
    background-size: cover;
}
.design h2{
    padding-top: 80px;
    margin-bottom: 48px;
}
.design-box{
    padding-bottom: 80px;
}
.design-text{
    font-size: 48px;
    font-weight: 900;
    color: #AA0601;
    background: #FFFFFF;
    display: block;
}




/*customer*/
.customer h2{
    padding-top: 80px;
    margin-bottom: 48px;
}
.customer-box{
    padding-bottom: 80px;
    gap: 24px;
}
.customer-card{
    background-color: #FFFFFF;
    border: 1px solid #DEE2E6;
    box-shadow: 0px 2px 6px #00000029;
    border-radius: 4px;
}
.customer-card-text{
    padding: 16px;
}
.customer-name{
    margin-bottom: 8px;
}
.customer-comment{
    margin-bottom: 72px;
}

/*contact*/
.contact{
    background-color: #FBF2F2;
}
.contact-container{
    max-width: 636px;
    margin: 0 auto;
}
.contact h2{
    padding-top: 80px;
    margin-bottom: 48px;
}
.contact p{
    margin-bottom: 24px;
}
.contact-form{
    font-size: 16px;
    padding-bottom: 80px;
}
.contact-label{
    display: block;
    margin-bottom: 8px;
}
.contact-input{
    display: block;
    width: 100%;
}
.contact-form-agree{
    margin-bottom: 48px;
}
.contact-form-btn{
    margin: 0 auto;
    display: block;
    padding: 16px 176px;
    text-align: center;
    border: 0;
}
/*footer*/
.footer{
    background-color: #AA0601;
    color: #FFFFFF;
}
.footer-nav{
    padding-top: 60px;
    gap: 48px;
    margin-bottom: 36px;
}
.footer-phone{
    margin-bottom: 8px;
    font-size: 36px;
}
.footer-email{
    font-size: 36px;
}
.footer-bottom{
    border-top: 1px solid #FFFFFF;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 16px;
}
.footer-bottom-r{
    gap: 48px;
}